:root {
  --text-dark: #333333;
  --accent-gold: #d4af37;
  --accent-teal: #2a9d8f; 
  --accent-olive: #6b8e23;
  --accent-burgundy: #9a4c4c;
  --bg-cream: #f8f5f2;

}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-cream);
  color: var(--text-dark);
  text-align: center;
  padding: 2rem;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
}


p {
  text-transform: none;
}

.app {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-cream);
  color: var(--text-dark);
  text-align: center;
  padding: 2rem;
}

.responsive-image {
  max-width: 100%;  /* Scales down if needed */
  height: 100px;    /* Maintains aspect ratio */
  display: block;  /* Removes extra space below */
  margin: 0 auto;  /* Centers horizontally */
}

header {
  margin: 8px;
  padding: 8px;
  background-color: #d4af37;
  border-radius: 12pt;
  
}

footer{
  color: #333333;
  margin: 8px;
  padding: 8px;
  background-color: #6b8e23;
  border-radius: 12pt;
}


table {
  width: 100%; 
  border-collapse: separate; 
  border-radius: 12pt;
  text-transform: none;
  font-weight: bold;

}


tr, th{
  
  padding: 10px; 
  color: #333333;
  background-color: #2a9d8f;
}

tr, td {
  
  border-spacing: 3px;
  padding: 10px; 
  text-align: left; 
  border-radius: 12pt;
  font-weight: normal;
  color: #333333; 
  background-color: #d4af37;
  font-size: medium;
  
}

th{
  background: #9a4c4c;
  font-weight: bold; 
  text-align: center; 
  border-radius: 12pt;
  font-weight: bold;
  border: none;
  
}


a {
  color: yellowgreen;
  cursor: pointer;
}

button {
  background-color: #2a9d8f; 
  font-family: Gill Sans, Verdana;
  border-radius: 12px;
  color: #333333;
  border: 2px solid; 
  cursor: pointer;
  text-align: center;
  border: 0;
  font-size: 16px;
  
}

input {
  background-color: #00c4cc;
  font-family: Gill Sans, Verdana;
  color: #2b2f32b8;
}


select {
  background-color: #00c4cc;
  color: #2b2f32b8;
  font-family: Gill Sans, Verdana;
}


